* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $font-family_1;
  color: $color_1;
  background: $bg-color;
}

.row {
  > * {
    padding-right: $bs-gutter-x;
    padding-left: $bs-gutter-x;
  }
  margin-right: calc(-1 * $bs-gutter-x);
  margin-left: calc(-1 * $bs-gutter-x);
}

.container {
  padding-right: $bs-gutter-x;
  padding-left: $bs-gutter-x;
}
