.header {
  position: fixed;
  top: 4.6rem;
  left: 0;
  width: 100%;
  background: $bg-color;
  z-index: 1;

  .title {
    text-decoration: none;
    color: $heading-color;
    font-size: 2.6rem;
    font-weight: 700;
  }

  .navbar {
    padding: 1.8rem 0;

    .dropdown-item {
      text-transform: uppercase;
      transition: all 0.5s ease;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.85px;
      padding: 5px 24px;
      color: $heading-color;
      &:hover {
        color: $primary-color;
      }
    }

    .dropdown-toggle {
      &::after {
        display: none;
      }

      i {
        font-size: 1rem;
      }
    }
  }
  
  .navbar-toggler {
    border: 0;
    padding: 0;
  }

  .navbar-toggler-icon.fa {
    background: $primary-color;
    font-size: 20px;
    color: $white-color;
    line-height: 3rem;
    border-radius: 0.4rem;
  }

  .fa-solid {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.header.navbar-collapse {
  margin-left: auto;
  text-align: center;
  align-items: end;
}

.navbar-nav {
  .nav-link {
    color: $font-color;

    &:hover {
      color: $primary-color;
    }
  }

  .nav-link.active {
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 0.85px;
  }

  .nav-link.show {
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 0.85px;
  }

  .nav-item {
    text-transform: uppercase;
    transition: all 0.5s ease;
    padding: 1rem 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 0.85px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    .navbar-nav {
      align-items: center;
    }
  }

  .navbar {
    .navbar-collapse {
      justify-content: end;
    }
    
    .navbar-nav {
      .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}
