/* BANNER  */
.classes .banner {
  background: url("./../pages/images/bn1.jpg") no-repeat top;
  background-size: cover;
  margin: 0rem;
  height: 28rem;
  position: relative;
}
.classes {
  .breadcrumb-list {
    display: flex;
    gap: 0.8rem;
    font-size: 1.8rem;
    line-height: 1.5rem;
    color: #ffffff;
    position: absolute;
    bottom: 6rem;
    margin-left: -6.4rem;
    left: 50%;
    font-weight: 600;
    margin-bottom: 1rem;
    .active {
      color: $primary-color;
    }
    i {
      color: #ffffff;
      font-size: 1.2rem;
      margin-top: 0.4rem;
      font-weight: 600;
    }
    a {
      color: $primary-color;
    }
  }
}

/* GROUP  */
.group-item {
  background: var(--bg-lightgrey);

  .right-icon {
    color: $primary-color;
    font-size: 3.5rem;
    text-align: center;
  }
  .group-conten {
    text-align: left !important;
    margin-bottom: 0 !important;
    color: var(--heading-color) !important;
    font-weight: 700 !important;
    font-size: 2.4rem !important;
  }
}

/* MODERN GYM */
.modern-gym {
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-row-gap: 4rem;
  }
  img {
    border-radius: $border-radius;
  }
}

/* HEALTHY  */
.everything {
  position: relative;
  background: url("./../images/bn2.jpg") no-repeat top;
  background-size: cover;

  .everything-text {
    text-align: center;

    h4 {
      text-align: center;
      font-size: 4rem;
      line-height: 5.5rem;
      font-weight: 700;
      color: #fff;
      /* max-width: 80rem; */
      margin: auto;
    }
    p {
      font-size: 2rem;
      color: $bg-color;
      line-height: 3rem;
      max-width: 80rem;
      margin: auto;
      margin-top: 1.5rem;
    }
  }
}

.our-video {
  .sub-titlehny {
    color: $white-color;
  }

  .hlt-title {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 700;
    color: $white-color;
  }

  .hlt-text {
    color: #eee !important;
    max-width: 80rem;
    margin: auto;
    margin-top: 1.5rem;
    font-size: 2rem !important;
    line-height: 3rem;
  }
}

/* Meet our */
.meet-our {
  .team-title {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 2.4rem;
    color: var(--heading-color);
    font-weight: 700;
  }
  .team-img {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 100%;
    border-radius: $border-radius;
  }
  .team-content {
    display: inline-block;
    position: relative;
    text-align: center;
  }
  .team-hover {
    position: absolute;
    top: 58%;
    left: 26%;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .team-title {
    &:hover {
      color: $primary-color;
    }
  }
  .img-icon {
    &:hover {
      .team-hover {
        opacity: 1;
      }
    }
  }
  .fa-brands {
    color: $bg-color;
    padding-top: 1.2rem;
    margin: 0 0.4rem;
    background: #ffffff6e;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }
}
