* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* MENU  */
.menu {
  background-color: blueviolet;
  color: #fff;
  height: 70px;
  text-transform: uppercase;
}

.menu-container .menu-brand a:hover {
  color: #ff1493;
}

.menu-container .menu-list .menu-item a:hover {
  color: #ff1493;
}
.menu .menu-container {
  max-width: 700px;
  height: 100%;
  margin: auto;
}
.menu .menu-container .menu-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.menu-brand a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
.menu .menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}
.menu .menu-list .menu-brand {
  padding-left: 245px;
  padding-top: 17px;
}
.menu .menu-item a {
  padding: 0 5px;
  color: #fff;
  text-decoration: none;
}
/* SLIDER  */

.slider {
  background-image: url("./images/b3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.slider .slider-title {
  font-size: 46px;
  word-spacing: 12px;
  margin: 0;
  padding: 0;
}
.slider .text {
  font-size: 17px;
}
.slider .buton {
  display: inline-block;
  border: 1px solid #fff;
  padding: 7px 7px;
  color: #fff;
  text-decoration: none;
  background-color: deeppink;
}

/* FEATURES */
.features {
  /* display: flex; */
}
.features .features-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.features .features-list .features-img img {
  height: 100%;
  width: 100%;
}
.features .features-list .features-text {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ---------- */
.grid-2-2 {
  grid-column: 2 / span 2;
}
.bg-purple {
  background-color: #590da6;
}
.bg-vibrantred {
  background-color: #ef4a4a;
}
.bg-yellow {
  background-color: #f03599;
  grid-column: 1 / span 2;
}
.bg-mediumpurple {
  background-color: #87649e;
}
.bg-green {
  background-color: green;
}
.grid-3-2 {
  grid-column: 3 / span 2;
}

/* STATS */

.stats .stats-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 21px;
  margin-bottom: 21px;
}

.stats .stats-list .stats-number {
  color: rgb(77, 12, 176);
}

.stats .stats-list .stats-text {
  font-size: 21px;
  letter-spacing: 3px;
  font-weight: bold;
}

/* SERVICES */
.services {
  background-image: url(./images/s1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 507px;
  width: 1264px;
}
.services-title {
  text-align: center;
  font-size: 38px;
  color: #fff;
  padding-top: 62px;
}
.services-list {
}
.services .services-item {
  display: flex;
  padding-top: 63px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 110px;
  padding-left: 110px;
}
.services .services-content .icon {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.services .services-name {
  font-size: 28px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.services .services-text {
  font-size: 18px;
  padding-bottom: 32px;
}
.services-icon .buton a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 8px;
  background-color: #ff1493;
  text-decoration: none;
}
/* OUR GALLERY */
section.ourgallery-list {
  padding: 0px 13px;
}
.ourgallery-title {
  text-align: center;
  font-size: 49px;
  margin: 13px;
}
.ourgallery-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.ourgallery-content {
  position: relative;
  height: 100%;
}

.ourgallery-list .ourgallery-img .img {
  width: 100%;
  height: 100%;
}
.ourgallery-list .ourgallery-text {
  position: absolute;
  top: 50px;
  right: 20px;
}
.ourgallery-list .grid-1-2 {
  grid-column: 1 / span 2;
}
/* ---- */

.ourgallery-list .ourgallery-img {
  position: relative;
}
.ourgallery-list .ourgallery-img .img {
  width: 100%;
  height: 100%;
}
.ourgallery-list .ourgallery-text {
  position: absolute;
}
.ourgallery-list .grid-3-4 {
  grid-column: 3 / span 2;
}

/* BAKE TEAM */
.baketeam {
  padding-top: 34px;
  margin-top: 60px;
  background-color: #590da6;
}
.baketeam .baketeam-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
}

.baketeam .baketeam-item {
  padding: 15px;
  color: #fff;
  line-height: 21px;
  width: 33.33%;
}
.baketeam .baketeam-list .baketeam-item img {
  width: 100%;
}
.baketeam-item .text-name {
  background-color: #ff1493;
  padding-left: 33px;
  padding-top: 24px;
  margin-top: -6px;
}
.baketeam-item .text {
  background-color: #ff1493;
  padding-left: 33px;
  padding-bottom: 24px;
  font-size: 12px;
}
/* TESTIMONIALS */

.textimonials {
  background-image: url(./images/cc1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 383px;
}
.textimonials .textimonials-title {
  color: #fff;
  font-size: 47px;
  padding-top: 60px;
}
.textimonials .textimonials-content {
  display: inline-block;
  background-color: #ffffff5e;
  color: #fff;
  border: 2px solid #ff1493;
  padding: 76px 20px 76px;
  margin: 21px;
}

.textimonials .textimonials-text {
  font-size: 18px;
  margin: 0px 73px;
  color: #000;
}
.textimonials .textimonials-desc {
  margin-top: 17px;
}
/* CONTACT   */
.contact .title {
  text-align: center;
  text-transform: uppercase;
}
.contact .contact-form input {
  outline: none;
  width: 50%;
  padding: 15px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
.contact .contact-form textarea {
  outline: none;
  height: 100px;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
.contact .contact-form button {
  background-color: #ff1493;
  width: 100%;
  border-color: #c0c0c0;
  height: 40px;
}
.contact .contact-form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
}
.contact .contact-form .contact-input {
  display: flex;
  gap: 10px;
}

/* ADDRESS */
iframe {
  width: 100%;
  height: 330px;
}
.address {
  padding-top: 50px;
}
.address .address-item {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  gap: 255px;
}
.address .address-icon {
  color: #c0c0c0;
  line-height: 21px;
  font-size: 15px;
}
/* FOOTER  */
footer {
  background-color: #000;
  margin-top: 50px;
}
.footer-container {
  padding: 76px 125px 0px;
}
.footer-list .footer-title {
  color: #de097b;
}
.footer-list .footer-text {
  color: #fff;
  padding: 8px 0px;
  line-height: 30px;
}
.footer .icon-list {
  background-color: #fff;
  display: flex;
  margin-top: 21px;
  margin-right: 40px;
}
.footer img {
  width: 40px;
}
.footer .icon-list li {
  list-style: none;
}
.footer .footer-list {
  display: flex;
  gap: 43px;
}
.footer .footer-item {
  flex: 1;
}
.footer-item .footer-title ul li {
  border-bottom: 1px;
}
.footer .workingtime ul li {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
}
input[type="email"] {
  height: 40px;
  border-radius: 10px;
  margin-top: 16px;
}
button.footer-text {
  background: #ff1493;
  color: #000 !important;
  font-weight: bold;
  width: 92px;
  border-radius: 10px;
  margin-top: 22px;
}
.footer .copyright {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 50px;
  padding-bottom: 19px;
  color: #fff;
}
.footer .copyright .w3 {
  color: #ff1493;
}
