.button {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 1.2rem 3.5rem;
  border: 0;
  border-radius: $border-radius;
  text-decoration: none;
  font-weight: 700;
  margin-right: 1.5rem;
  transition: all 0.3s ease-in;
}

.button-secondary {
  background: $white-color;
  color: $primary-color;
}

.button-primary {
  background: $primary-color;
  color: $white-color;
}

.button-move-top {
  color: $bg-color;
  width: 5rem;
  height: 5rem;
  background-color: $primary-color;
  border: 0;
  border-radius: 50%;
  font-size: 1.8rem;
  position: fixed;
  bottom: 9.6rem;
  right: 2rem;
}

.button-video {
  border: 0;
  background: none;
  gap: 1rem;
  display: inline-flex;

  .video-play-icon {
    background: rgba(255, 248, 248, 0.25);
    width: 5.4rem;
    height: 5.4rem;
    display: inline-block;
    line-height: 5.8rem;
    border-radius: 50%;
    .fa {
      font-size: 2rem;
      color: $white-color;
    }
  }

  .video-content {
    color: $white-color !important;
  }
}
