// COLOR
$primary-color: #2ec4b6;
$white-color: #fff;
$grey-color: #7f8a94;
$medium-grey-color: #7e7d7d;
$peach-color: #eee;
$boulder-color: #777;
$midnight-color: #031f31;
$nav-color: #696687;
$border-radius: 0.6rem;
$border-radius-lg: 1rem;
$border-radius-full: 1.5rem;
$border-color: #ddd;
$bg-color: #fff;
$bg-grey: #f4f4f4;
$bg-red: #e71d36;
$bg-dark: #151515;
$heading-color: #011623;
$font-color: #696687;
$secondary-color: #e71d36;
$primary-dark: #011627;
$font-family_1: "Assistant", sans-serif;

:root {
  --primary-color: #{$primary-color};
  --white-color: #{$white-color};
  --grey-color: #{$grey-color};
  --medium-grey-color: #{$medium-grey-color};
  --peach-color: #{$peach-color};
  --boulder-color: #{$boulder-color};
  --midnight-color: #{$midnight-color};
  --nav-color: #{$nav-color};
  --border-radius: #{$border-radius};
  --border-radius-lg: #{$border-radius-lg};
  --border-radius-full: #{$border-radius-full};
  --border-color: #{$border-color};
  --bg-color: #{$bg-color};
  --bg-grey: #{$bg-grey};
  --bg-red: #{$bg-red};
  --bg-dark: #{$bg-dark};
  --heading-color: #{$heading-color};
  --font-color: #{$font-color};
  --secondary-color: #{$secondary-color};
  --primary-dark: #{$primary-dark};
}

html[data-theme="dark"] {
  --font-color: #b7b7b7;
  --bg-color: #131617;
  --bg-grey: #0b0d0e;
  --heading-color: #fdfffc;
  --border-color: rgba(255, 255, 255, 0.2);
  --primary-dark: #00070c;
}

//GUTTER
$bs-gutter-x: 1.5rem;
