// COLOR
$primary-color: #2ec4b6;
$white-color: #fff;
$nav-color: #696687;
$border-radius: 0.6rem;
$border-radius-lg: 1rem;
$border-radius-full: 1.5rem;
$border-color: #ddd;
$bg-color: #fff;
$bg-grey: #f4f4f4;
$bg-red: #e71d36;
$bg-dark: #151515;
$heading-color: #011623;
$font-color: #696687;
$secondary-color: #e71d36;
$primary-dark: #011627;

$color_1: var(--font-color);
$color_2: var(--heading-color);
$color_3: #696687;
$color_4: var(--primary-color);
$color_5: var(--white-color);
$color_6: var(--bg-color);
$color_7: #7e7d7d;
$color_8: #999;
$color_9: #fff;
$color_10: #7f8a94;
$font-family_1: "Assistant", sans-serif;
$background-color_1: var(--primary-color);

//GUTTER
$bs-gutter-x: 1.5rem;
